.navbar{
    background-color: #002060;
    height: 7em;
}

.nav-link{
    color: #f8f9fa;
}

#menu:hover{
    color: lightgray;
}

footer{
    background-color: #002060;
    color: white;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}
