/* Set color variables*/
:root {
    --primary-color: #25274D;
    --secondary-color: #464866;
    --tertiary-color: #a3a3d2; /*#AAABB8*/
    --highlight-color: #2E9CCA;
    --hover-highlight-color: #29648A;
    --text-color: white;
    --text-color-contrast: black;
}


/* Navbar style*/
    .navbar{
        background-color: var(--primary-color);
        height: 7em;
        --bs-navbar-color: var(--tertiary-color);
        --bs-navbar-active-color: var(--text-color);
        --bs-navbar-hover-color: var(--highlight-color) !important;
    }


/* Footer Style*/
footer{
    background-color: var(--primary-color);
    color: var(--text-color);

    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    /*padding: 5px 0;*/
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
    overflow-y: scroll;
    background-color: var(--secondary-color);

    /*Hide default scrollbar*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

main {
    flex: 1; /* Allow main content to grow and take remaining space */
    padding-bottom: 1.5em; /* Adjust to the height of the footer */
}



/* Scrollbar style*/
/* Create a custom scrollbar for Webkit-based browsers */
body::-webkit-scrollbar {
    width: 12px; /* Set width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--primary-color); /* Track color */
}

body::-webkit-scrollbar-thumb {
    background: var(--tertiary-color); /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color); /* Thumb color on hover */
}

body::-webkit-scrollbar-thumb:active {
    background: var(--hover-highlight-color); /* Thumb color on active */
}

    /* Card Styling */
.card {
    --bs-card-color: var(--primary-color);
    --bs-card-bg: var(--primary-color);
    --bs-card-border-width: 0.3em;
    --bs-card-border-color: var(--primary-color);
    /*background-color: var(--tertiary-color);*/
    /*--bs-card-title-color: var(--text-color);*/

}
.card-header {
    color: var(--text-color);
}

.card-body {
    background-color: var(--tertiary-color);
}



/* Button Styling */
.btn {
    /*normal*/
    --bs-btn-color: var(--text-color);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    /*on hover*/
    /*--bs-btn-hover-color: var(--quaternary-color);*/
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
}

.btn-secondary {
    /*normal*/
    --bs-btn-color: var(--text-color-contrast);
    --bs-btn-bg: var(--tertiary-color);
    --bs-btn-border-color: var(--tertiary-color);
    /*on hover*/
    /*--bs-btn-hover-color: var(--quaternary-color);*/
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
}

.btn-success {
    /*normal*/
    --bs-btn-color: var(--text-color);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    /*on hover*/
    /*--bs-btn-hover-color: var(--quaternary-color);*/
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
}

.btn-light {
    /*normal*/
    --bs-btn-color: var(--text-color-contrast);
    --bs-btn-bg: white;
    --bs-btn-border-color: lightgrey;
    /*on hover*/
    --bs-btn-hover-color: var(--text-color);
    --bs-btn-hover-bg: var(--secondary-color);
    --bs-btn-hover-border-color: var(--secondary-color);
    /*on activation*/
    --bs-btn-active-color:  var(--text-color-contrast);
    --bs-btn-active-bg:  var(--tertiary-color);
    --bs-btn-active-border-color:  var(--tertiary-color);
}

.dropdown-item:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/*Icon Styling*/
.fa-solid {
    color: var(--primary-color);
    margin-left: 0.3em;
    margin-right: 0.1em;
}

.fa-solid:hover {
    color: var(--primary-color) !important;
}

/*Table Styling*/
.table {
    border-collapse: separate;
    border-spacing: 0;
    /*Normal*/
    --bs-table-color: var(--text-color-contrast);
    --bs-table-bg: var(--tertiary-color);
    --bs-table-border-color: var(--primary-color);

    /*On hover*/
    --bs-table-hover-bg: var(--secondary-color);
    --bs-table-hover-color: var(--text-color);
}

/* Apply rounded corners to the table */
.rounded-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; /* Adjust the value as needed */
    overflow: hidden; /* Ensures border-radius is applied */
}

/* Apply rounded corners to the table cells (thead, tbody, th, td) */
.rounded-table th,
.rounded-table td {
    border-radius: 0; /* Reset default border-radius for cells */
}

/* Apply rounded corners only to specific corners of the first and last cells in the table */
.rounded-table thead th:first-child {
    border-top-left-radius: 10px;
}

.rounded-table thead th:last-child {
    border-top-right-radius: 10px;
}

.rounded-table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.rounded-table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

thead {
    --bs-table-color: var(--text-color);
    --bs-table-bg: var(--primary-color);
    --bs-table-border-color: var(--primary-color);
}

.table tbody tr:hover .fa-solid {
    color: var(--text-color);
}

/* Textarea Styling */
textarea {
    /*resize: none;*/
    /*Hide default scrollbar*/
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}
/* Textarea Scrollbar style */
textarea::-webkit-scrollbar {
    width: 12px; /* Set width of the scrollbar */
}

textarea::-webkit-scrollbar-track {
    background: none; /* Track color */
}

textarea::-webkit-scrollbar-thumb {
    background: var(--primary-color); /* Thumb color */
    border-radius: 10px; /* Rounded corners */
}

textarea::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); /* Thumb color on hover */
}

textarea::-webkit-scrollbar-thumb:active {
    background: var(--primary-color); /* Thumb color on hover */
}

/*Form select styling*/
.form-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Add padding and other styles */
    padding: 0.375rem 2rem 0.375rem 0.75rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 0.25rem;
    background-color: white;
    color: #495057;
    cursor: pointer;
}

.form-select:focus {
    border-color: var(--secondary-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--tertiary-color);
}

.form-select option {
    /* Modify option styles */
    background-color: white;
    color: black;
}

.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Add padding and other styles */
    padding: 0.375rem 2rem 0.375rem 0.75rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 0.25rem;
    background-color: white;
    cursor: text;
}

.form-control:focus {
    border-color: var(--secondary-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--tertiary-color);
}





/*!* Style the select element to resemble the dropdown *!*/
/*.custom-select {*/
/*    appearance: none; !* Remove default appearance *!*/
/*    padding: 0.375rem 2rem 0.375rem 0.75rem; !* Adjust padding as needed *!*/
/*    border: 1px solid #ced4da; !* Add border *!*/
/*    border-radius: 0.25rem; !* Add border radius *!*/
/*    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='%23444' viewBox='0 0 16 16'%3e%3cpath d='M8 10.535 1 3.536 2.414 2.12 8 7.694 13.586 2.12 15 3.536z'/%3e%3c/svg%3e");*/
/*    !* Add custom arrow icon - adjust URL and size as needed *!*/
/*    background-repeat: no-repeat;*/
/*    background-position: right calc(0.375rem + 2px) center;*/
/*    background-size: 12px;*/
/*}*/

/*.custom-select:focus {*/
/*    border-color: #80bdff; !* Change border color on focus *!*/
/*    outline: 0; !* Remove outline *!*/
/*    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); !* Add focus shadow *!*/
/*}*/
