/*@import url('https://fonts.googleapis.com/css?family=Varela:700|Varela:400'); !* Set color variables*!*/
///*@import url('https://fonts.googleapis.com/css?family=Lato:700|Lato:400');*/
:root[data-theme="dark"] {
  --primary-color: #181434;
  --secondary-color: #2f2a50;
  --tertiary-color: #9e92bd;
  --highlight-color: #5b449f;
  --hover-highlight-color: #3e2e72;
  --text-color: #685888;
  --text-color-contrast: #201933;
  --background-color: #110f23;
}

/*:root {*/
/*    --primary-color: #181434;*/
/*    --secondary-color: #2f2a50;*/
/*    --tertiary-color: #9e92bd;*/
/*    --highlight-color: #5b449f;*/
/*    --hover-highlight-color: #3e2e72;*/
/*    --text-color: #ddd7e8;*/
/*    --text-color-contrast: #201933;*/
/*}*/

/*:root {*/
/*    --primary-color: #1c0e25;*/
/*    --secondary-color: #443279;*/
/*    --tertiary-color: #65366c;*/
/*    --highlight-color: #d698e1;*/
/*    --hover-highlight-color: #cfb8e5;*/
/*    --text-color: #d5cbe0;*/
/*    --text-color-contrast: #070716;*/
/*}*/

/*:root {*/
/*    --primary-color: #642697;*/
/*    --secondary-color: #070716;*/
/*    --tertiary-color: #311a47;*/
/*    --highlight-color: #5c1e67;*/
/*    --hover-highlight-color: #d698e1;*/
/*    --text-color: #e8daf1;*/
/*    --text-color-contrast: #070716;*/
/*}*/

/*:root[data-theme="light"] {*/
/*    --text: #1c0e25;*/
/*    --background: #e8e8f8;*/
/*    --primary: #a668d9;*/
/*    --secondary: #cfb8e5;*/
/*    --accent: #d698e1;*/
/*}*/
/*:root[data-theme="dark"] {*/
/*    --text: #e8daf1;*/
/*    --background: #070716;*/
/*    --primary: #642697;*/
/*    --secondary: #311a47;*/
/*    --accent: #5c1e67;*/
/*}*/

//test


/*!* Navbar style*!*/
/*.navbar{*/
/*    background-color: var(--primary-color);*/
/*    --bs-navbar-color: var(--tertiary-color);*/
/*    --bs-navbar-active-color: var(--text-color);*/
/*    --bs-navbar-hover-color: var(--highlight-color);*/
/*    --bs-navbar-toggler-border-color: var(--secondary-color);*/
/*}*/

/*.custom-toggler .navbar-toggler-icon {*/
/*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(163,163,210, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
/*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(163,163,210, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
/*}*/

/*.custom-toggler.navbar-toggler {*/
/*    border-color: var(--tertiary-color);*/
/*}*/

/* Footer Style*/
footer{
  /*background-color: var(--primary-color);*/
  /*color: var(--text-color);*/

  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

.footer-link {
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  overflow-y: scroll;
  /*background-color: var(--background-color);*/

}

main {
  flex: auto; /* Allow main content to grow and take remaining space */
  padding-bottom: 1.5em; /* Adjust to the height of the footer */
}

.custom-scrollbar {
  /*Hide default scrollbar*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Scrollbar style*/
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Set width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--primary-color); /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--tertiary-color); /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color); /* Thumb color on hover */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--hover-highlight-color); /* Thumb color on hover */
}


/*!* Card Styling *!*/
/*.card {*/
/*    --bs-card-color: var(--primary-color);*/
/*    --bs-card-bg: var(--primary-color);*/
/*    --bs-card-border-width: 0.3em;*/
/*    --bs-card-border-color: var(--primary-color);*/
/*}*/

/*.spaltenBody {*/
/*    background-color: var(--primary-color) !important;*/
/*}*/

.card-body {
  background-color: var(--text-color);
  overflow-x: clip;
  overflow-y: visible;

  /* Other styles */
  /*overflow-x: auto; !* Enable horizontal scrolling *!*/
  white-space: nowrap; /* Prevent table cells from wrapping */

}
.card-header {
  color: var(--text-color);
}




/*!* Button Styling *!*/
/*.btn {*/
/*    !*normal*!*/
/*    --bs-btn-color: var(--text-color);*/
/*    --bs-btn-bg: var(--primary-color);*/
/*    --bs-btn-border-color: var(--primary-color);*/
/*    !*on hover*!*/
/*    !*--bs-btn-hover-color: var(--quaternary-color);*!*/
/*    --bs-btn-hover-bg: var(--secondary-color);*/
/*    --bs-btn-hover-border-color: var(--secondary-color);*/
/*}*/

/*.btn-secondary {*/
/*    !*normal*!*/
/*    --bs-btn-color: var(--text-color-contrast);*/
/*    --bs-btn-bg: var(--tertiary-color);*/
/*    --bs-btn-border-color: var(--tertiary-color);*/
/*    !*on hover*!*/
/*    !*--bs-btn-hover-color: var(--quaternary-color);*!*/
/*    --bs-btn-hover-bg: var(--secondary-color);*/
/*    --bs-btn-hover-border-color: var(--secondary-color);*/
/*}*/

/*.btn-success {*/
/*    !*normal*!*/
/*    --bs-btn-color: var(--text-color);*/
/*    --bs-btn-bg: var(--primary-color);*/
/*    --bs-btn-border-color: var(--primary-color);*/
/*    !*on hover*!*/
/*    !*--bs-btn-hover-color: var(--quaternary-color);*!*/
/*    --bs-btn-hover-bg: var(--secondary-color);*/
/*    --bs-btn-hover-border-color: var(--secondary-color);*/
/*}*/

/*.btn-light {*/
/*    !*normal*!*/
/*    --bs-btn-color: var(--text-color-contrast);*/
/*    --bs-btn-bg: white;*/
/*    --bs-btn-border-color: lightgrey;*/
/*    !*on hover*!*/
/*    --bs-btn-hover-color: var(--text-color);*/
/*    --bs-btn-hover-bg: var(--secondary-color);*/
/*    --bs-btn-hover-border-color: var(--secondary-color);*/
/*    !*on activation*!*/
/*    --bs-btn-active-color:  var(--text-color-contrast);*/
/*    --bs-btn-active-bg:  var(--tertiary-color);*/
/*    --bs-btn-active-border-color:  var(--tertiary-color);*/
/*}*/

/*.dropdown-item:hover {*/
/*    background-color: var(--secondary-color);*/
/*    color: var(--text-color);*/
/*}*/

/*.dropdown-item:hover .fa-solid {*/
/*    color: var(--text-color);*/
/*}*/

/*!*Icon Styling*!*/
/*.fa-solid {*/
/*    color: var(--primary-color);*/
/*    margin-left: 0.3em;*/
/*    margin-right: 0.1em;*/
/*}*/


/*.fa-solid:hover {*/
/*    color: var(--secondary-color);*/
/*    cursor: pointer;*/
/*}*/

/*.fa-solid:active {*/
/*    color: var(--tertiary-color) !important;*/

/*}*/

/*!*Table Styling*!*/
/*.table {*/
/*    border-collapse: separate;*/
/*    border-spacing: 0;*/
/*    width: 100%; !* Ensure table takes full width *!*/
/*    !*Normal*!*/
/*    --bs-table-color: var(--text-color-contrast);*/
/*    --bs-table-bg: var(--tertiary-color);*/
/*    --bs-table-border-color: var(--primary-color);*/

/*    !*On hover*!*/
/*    --bs-table-hover-bg: var(--secondary-color);*/
/*    --bs-table-hover-color: var(--text-color);*/
/*}*/


/*!* Apply rounded corners to the table *!*/
/*.rounded-table {*/
/*    !*border-collapse: separate;*!*/
/*    border-spacing: 0;*/
/*    border-radius: 10px; !* Adjust the value as needed *!*/
/*    !*overflow: hidden; !* Ensures border-radius is applied *!*!*/
/*}*/

/*!* Apply rounded corners to the table cells (thead, tbody, th, td) *!*/
/*.rounded-table th,*/
/*.rounded-table td {*/
/*    border-radius: 0; !* Reset default border-radius for cells *!*/
/*}*/

/*{*/
/*!* Apply rounded corners only to specific corners of the first and last cells in the table *!*/
/*!*gonna use this later once we use more .js*!*/
/*!*.rounded-table thead th:first-child {*!*/
/*!*    border-top-left-radius: 10px;*!*/
/*!*}*!*/

/*!*.rounded-table thead th:last-child {*!*/
/*!*    border-top-right-radius: 10px;*!*/
/*!*}*!*/
/*}*/

/*.rounded-table tbody tr:last-child th:first-child {*/
/*    border-bottom-left-radius: 10px;*/
/*}*/

/*.rounded-table tbody tr:last-child td:last-child {*/
/*    border-bottom-right-radius: 10px;*/
/*}*/

/*thead {*/
/*    --bs-table-color: var(--text-color);*/
/*    --bs-table-bg: var(--primary-color);*/
/*    --bs-table-border-color: var(--primary-color);*/
/*    !*Sticky Header*!*/
/*    !*position: sticky;*!*/
/*    !*top: 0 ;*!*/
/*    !*z-index: 1;*!*/
/*}*/

/*.table tbody tr:hover .fa-solid {*/
/*    color: var(--text-color);*/
/*}*/

/*.table tbody tr:hover .fa-solid:hover {*/
/*    color: var(--primary-color) !important;*/
/*    cursor: pointer;*/
/*}*/


/*!*Form select styling*!*/
/*.form-select {*/
/*    appearance: none;*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    !* Add padding and other styles *!*/
/*    padding: 0.375rem 2rem 0.375rem 0.75rem;*/
/*    border: 2px solid var(--tertiary-color);*/
/*    border-radius: 0.25rem;*/
/*    background-color: white;*/
/*    color: #495057;*/
/*    cursor: pointer;*/
/*}*/

/*.form-select:focus {*/
/*    border-color: var(--secondary-color);*/
/*    outline: 0;*/
/*    box-shadow: 0 0 0 0.2rem var(--tertiary-color);*/
/*}*/

/*.form-select option {*/
/*    !* Modify option styles *!*/
/*    background-color: white;*/
/*    color: black;*/
/*}*/

/*.form-control {*/
/*    appearance: none;*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    !* Add padding and other styles *!*/
/*    padding: 0.375rem 2rem 0.375rem 0.75rem;*/
/*    border: 2px solid var(--tertiary-color);*/
/*    border-radius: 0.25rem;*/
/*    background-color: white;*/
/*    cursor: text;*/
/*}*/


/*.form-control:focus {*/
/*    border-color: var(--secondary-color);*/
/*    outline: 0;*/
/*    box-shadow: 0 0 0 0.2rem var(--tertiary-color);*/
/*}*/

/*.col-form-label {*/
/*    white-space: nowrap; !* Prevent label text from wrapping *!*/
/*    overflow: hidden; !* Hide overflowing text *!*/
/*    text-overflow: ellipsis; !* Show ellipsis (...) for truncated text *!*/
/*    !*max-width: 100%; !* Limit label width *!*!*/
/*    display: inline-block; !* Ensure label remains inline *!;*/
/*}*/

/*.input-group-text {*/
/*    appearance: none;*/
/*    -webkit-appearance: none;*/
/*    -moz-appearance: none;*/
/*    !* Add padding and other styles *!*/
/*    !*padding: 0.375rem 2rem 0.375rem 0.75rem;*!*/
/*    border: 2px solid var(--tertiary-color);*/
/*    border-radius: 0.25rem;*/
/*    background-color: white;*/
/*    cursor: pointer;*/
/*}*/

/*.form-check-input:checked {*/
/*    background-color: var(--primary-color);*/
/*    border-color: var(--primary-color);*/
/*}*/

/*.form-check-input:focus {*/
/*    border-color: var(--secondary-color);*/
/*    outline: 0;*/
/*    box-shadow: 0 0 0 0.2rem var(--tertiary-color);*/
/*}*/


/*.modal-content {*/
/*    background-color: var(--text-color);*/
/*}*/

/*input[type="datetime-local"]:disabled {*/
/*    background-color: #E0E0E0;*/
/*    color: #808080;*/
/*    border: 2px solid #cccccc;*/
/*    !* Set the cursor to not-allowed to indicate the input is disabled *!*/
/*    !*cursor: not-allowed; *!*/
/*}*/