:root {
  --primary-color: #181434;
  --secondary-color: #2f2a50;
  --tertiary-color: #9e92bd;
  --highlight-color: #5b449f;
  --hover-highlight-color: #3e2e72;
  --text-color: #685888;
  --text-color-contrast: #201933;
  --background-color: #110f23;
}

$primary: #685888;
$theme-colors-text: rgba(255, 255, 255, 0.86);

/*!* Navbar style*!*/
.navbar{
  background-color: rgba(21, 18, 28, 0.5);
  backdrop-filter: blur(2em);
  box-shadow: -1em 1em 1em rgba(47, 42, 80, 0.2);
}

/* Footer Style*/
footer{
  /*background-color: var(--primary-color);*/
  //color: var(--text-color);
  color: rgba(255, 255, 255, 0.9);

  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
}

.footer-link {
  //color: var(--text-color);
  color: rgba(255, 255, 255, 0.9);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  overflow-y: scroll;
  /*background-color: var(--background-color);*/

}

main {
  flex: auto; /* Allow main content to grow and take remaining space */
  padding-bottom: 1.5em; /* Adjust to the height of the footer */
}

.custom-scrollbar {
  /*Hide default scrollbar*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Scrollbar style*/
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Set width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #15121c; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--tertiary-color); /* Thumb color */
  border-radius: 10px; /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--highlight-color); /* Thumb color on hover */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: var(--hover-highlight-color); /* Thumb color on hover */
}

.fa-solid:hover {
    color: var(--tertiary-color);
    cursor: pointer;
}


//.fa-solid:active {
//    color: var(--tertiary-color) !important;
//
//}

.modal-content{
  background-color: rgba(21, 18, 28, 0.5);
  backdrop-filter: blur(2em);
  //box-shadow: 0 0 0 rgba(47, 42, 80, 0.2);
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";