
$primary: #685888;
$secondary: rgba(78, 68, 101, 0.9);
$warning: #e3b137;

$modal-header-border-width: 0px;
$modal-content-bg: rgba(21, 18, 28, 0.6);
//$modal-content-box-shadow-sm-up: 0 0 0 rgba(47, 42, 80, 0.5);

// cards
$card-bg: rgba(21, 18, 28, 0.4);
$card-border-width: 0;
$card-border-color: rgba(33, 28, 44, 0.4);
$card-box-shadow: 0 0 0 rgba(47, 42, 80, 0.5);
$card-border-radius: 1rem;
$card-color: rgb(208, 204, 224);

// tables
$table-bg: rgba(21, 18, 28, 0.4);
$table-border-width: 2px;
$table-border-color: rgba(33, 28, 44, 0.4);
$table-box-shadow: 0 0 0 rgba(47, 42, 80, 0.5);
$table-group-separator-color: rgba(76, 64, 110, 0.4);
$table-color: rgb(208, 204, 224);

// pagination
$pagination-bg: rgba(21, 18, 28, 0.4);


// dropdowns
$dropdown-bg: rgba(46, 39, 73, 0.7);
$dropdown-border-width: 0;
$dropdown-box-shadow: 0 0 0 rgba(47, 42, 80, 0.5);

// form control
$input-bg: rgba(21, 18, 28, 0.6);

// toast
$toast-border-width: 2px;

// popover
$popover-bg: rgba(21, 18, 28, 0.6);
$popover-max-width: 30rem;
$popover-header-bg: rgba(21, 18, 28, 0.6);
$popover-header-border-width: 0px;
$popover-border-color: $primary;

@import "../../../node_modules/bootstrap/scss/bootstrap";