:root {
    --primary-color: #181434;
    --secondary-color: #2f2a50;
    --tertiary-color: #887ba8;
    --highlight-color: #917cda;
    --hover-highlight-color: #3e2e72;
    --text-color: #685888;
    --text-color-contrast: #201933;
    --background-color: #110f23;
    --mouse-x: 0;
    --mouse-y: 0;
}

.dragging {
    opacity: 0.5;
}

.cursor-grab {
    cursor: grab;
}

a:hover {
    color: var(--highlight-color);
    cursor: pointer;
}

a:link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.personenkuerzel {
    text-align: center;
    padding-top: 0.4em;
    height: 2.5em;
    width: 2.5em;
    position: relative;
    line-height: 1.65em;
    cursor: pointer;
}

/*!* Navbar style*!*/
.navbar {
    background-color: rgba(21, 18, 28, 0.5);
    box-shadow: 0 0.5em 1em rgba(47, 42, 80, 0.2);
}

.task {
    width: 20em;
    border-width: 0.2em;
    border-color: var(--secondary-color);
    color: var(--text-color);
    /*backdrop-filter: blur(3px);*/
}

/* Footer Style*/
footer {
    /*background-color: var(--primary-color);*/
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer-link {
    color: rgba(255, 255, 255, 0.9);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Set minimum height to 100% of the viewport height */
    overflow-y: scroll;
    /*background-color: var(--background-color);*/
}

main {
    flex: auto;
    /* Allow main content to grow and take remaining space */
    padding-bottom: 1.5em;
    /* Adjust to the height of the footer */
}


/* Scrollbar style*/
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* Set width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    /*background-color: rgba(21, 18, 28, 0.5);*/
    /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    /* Thumb color */
    border-radius: 10px;
    /* Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--highlight-color);
    /* Thumb color on hover */
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
    background: var(--hover-highlight-color);
    /* Thumb color on hover */
}



.iconClickable:hover {
    color: var(--tertiary-color) !important;
    cursor: pointer;
}

.iconClickable:active {
    color: var(--highlight-color) !important;
}

.dropdown-item:hover {
    cursor: pointer; }

@keyframes gradient {
    0% {
        background-position: 0% 50%; }
    50% {
        background-position: 100% 50%; }
    100% {
        background-position: 0% 50%; }
}

body {
    margin: 0;
    background-size: 200% 200%;
    background-image: linear-gradient(0deg,  #2d1f42, #13102a);
    animation: gradient 10s ease-in-out infinite;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

.modal-content {
    backdrop-filter: blur(1px);
    /*box-shadow: 0 0 2em rgba(47, 42, 80, 0.2);*/
}

.thead {
    background-color: rgba(47, 29, 87, 0.7) !important;
}

.dropdown-menu {
    backdrop-filter: blur(3px);
}

.toast {
    backdrop-filter: blur(3px);
    background-color: rgba(22, 14, 42, 0.7);
}

.popover {
    backdrop-filter: blur(3px);
    --bs-popover-header-font-size: 1.5em;
}

.popover-header {
    border-bottom: none;
}

.editSpalteText {
    color: white;
}
